@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400&family=PT+Sans+Narrow&display=swap');

:root{
    --cor-fundo:#CBF5E2;
    --cor-titulo:#355C4A;
    --cor-parágrafo:#005C32;
    --cor-1:#62A888;
    --cor-2:#80DBB2;
    --fonte-titulo:Anton;
    --fonte-2:Hind;
}
body {
    width: 700px;
    max-width: 100%;
    margin: auto;
    text-align: center;
    background-color: var(--cor-fundo);
    opacity: 0,3;
}

h1{
    font-family: var(--fonte-titulo);
    color: var(--cor-titulo);
    
}

p{
    font-family: var(--fonte-2);
    color: var(--cor-parágrafo);
}

img {
    border: 3px solid;
    border-color: var(--cor-1);
    
}

table, th, td {
    border: 2px solid;
    border-collapse: collapse;
    border-color: var(--cor-1);
}
table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--fonte-2);
    width: 50%;
}

thead {
    background-color: var(--cor-titulo);
    color: white;
}

tbody {
    background-color: var(--cor-2) ;
}